#home {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  width: 100vw;
  height: 100vh;
  color: white;
  background-image: url("../assets/reactHome.jpg");
  background-size: cover;
}
.homeText {
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.homeHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.5rem;
  width: 100%;
}
.homePara {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  font-weight: 500;
  width: 100%;
  text-align: right;
  margin-bottom: 2rem;
}
.assist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.assistPara {
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0 2rem;
}
.assist > div {
  animation: assist 800ms ease-in-out 0s infinite both alternate;
}

@keyframes assist {
  from {
  }
  to {
    transform: translateY(10px);
  }
}
