footer {
  display: flex;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 2rem;
}
footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
footer > .footer-one > h3 {
  color: rgb(29, 16, 124);
  font-size: xx-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
footer > div > p {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(69, 69, 69);
}
footer > .footer-two > h3 {
  color: rgb(69, 69, 69);
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}
footer > div > a {
  text-decoration: none;
  font-size: large;
  font-family: cursive;
  font-weight: 800;
  color: rgba(29, 16, 124, 0.763);
}
